.hero {
  text-align: center;
  background-color: #f7f7f7;
  color: #323643;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  padding: 10px;
  font-size: 72px !important;
}

h2 {
  padding-top: 150px;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 32px !important;
}

.btn-primary {
  background-color: #93deff !important;
  color: #323643 !important;
}

.btn-primary:hover {
  text-decoration: underline;
}

.homepage-content {
  background: white;
}

.launch-link {
  background: #93deff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #323643;

  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
}
