.hero {
  text-align: center;
  background-color: #f7f7f7;
  color: #323643;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  padding: 10px;
  font-size: 80px !important;
}

h2 {
  padding-top: 150px;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 34px !important;
}

.btn-primary {
  background-color: #93deff !important;
  color: #323643 !important;
}

.btn-primary:hover {
  text-decoration: underline;
}

.homepage-content {
  background: white;
  padding-bottom: 100px;
}

.launch-link {
  background: #93deff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #323643;

  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 24px;
}

#weather-image,
#knitting-image,
#dictionary-image {
  width: 400px;
}

.container {
  margin-top: 150px;
}

.container h1 {
  font-size: 60px;
}
.container h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

#profile-picture {
  width: 400px;
}
.about-info {
  font-size: 18px;
}
@media (max-width: 576px) {
  .hero h2 {
    padding-top: 50px;
  }
  h1 {
    font-size: 60px !important;
  }
  h3 {
    max-width: 400px;
  }
  .homepage content img {
    display: none;
  }
  .container {
    margin-top: 20px;
    text-align: center;
  }

  .container img {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 200 px;
  }
}

@media (max-width: 900px) {
  p {
    font-size: 18px;
  }
  #profile-picture {
    margin-top: 60px;
  }
}
